@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.bold,h1,h2,h3,h4,h5,h6{
font-weight:bolder;
font-family: sans-serif;
}
button,input,select,textarea,.btn{
font-family: sans-serif;
}
.carbon-header-dark{
background:#5d6d7e;
}


